In [5]:
import pandas as pd

In [6]:
# Load the data into a pandas dataframe
df2011 = pd.read_csv('2011_rankings.csv')
df2012 = pd.read_csv('2012_rankings.csv')
df2013 = pd.read_csv('2013_rankings.csv')
df2014 = pd.read_csv('2014_rankings.csv')
df2015 = pd.read_csv('2015_rankings.csv')
df2016 = pd.read_csv('2016_rankings.csv')
df2017 = pd.read_csv('2017_rankings.csv')
df2018 = pd.read_csv('2018_rankings.csv')
df2019 = pd.read_csv('2019_rankings.csv')
df2020 = pd.read_csv('2020_rankings.csv')
df2021 = pd.read_csv('2021_rankings.csv')
df2022 = pd.read_csv('2022_rankings.csv')
df2023 = pd.read_csv('2023_rankings.csv')

In [7]:
# Combine all the dataframes into a single dataframe
frames = [df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021, df2022, df2023]
df = pd.concat(frames)

In [8]:
# Filter for computer science universities
df['is_computer_science'] = df['subjects_offered'].str.contains('Computer Science')
df.dropna(inplace=True)

In [9]:
print(df.columns)

Index(['rank_order', 'rank', 'name', 'scores_overall', 'scores_overall_rank',
       'scores_teaching', 'scores_teaching_rank',
       'scores_international_outlook', 'scores_international_outlook_rank',
       'scores_industry_income', 'scores_industry_income_rank',
       'scores_research', 'scores_research_rank', 'scores_citations',
       'scores_citations_rank', 'location', 'aliases', 'subjects_offered',
       'closed', 'unaccredited', 'stats_number_students',
       'stats_student_staff_ratio', 'stats_pc_intl_students',
       'stats_female_male_ratio', 'is_computer_science'],
      dtype='object')

In [10]:
# Filter the dataframe to include only the rows where 'is_computer_science' is True
cs_universities = df[df['is_computer_science']]

In [11]:
# Rank the top 10 computer science universities across all years
top_cs_universities = cs_universities.groupby('name').mean().sort_values(by='rank_order')[:10]

/tmp/ipykernel_49570/2554727737.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  top_cs_universities = cs_universities.groupby('name').mean().sort_values(by='rank_order')[:10]

In [12]:
# Print the top 10 computer science universities
print(top_cs_universities[['rank_order']])

                                       rank_order
name
University of Oxford                        9.000
California Institute of Technology         30.125
Stanford University                        30.375
University of Cambridge                    31.750
Harvard University                         42.000
Massachusetts Institute of Technology      44.375
Princeton University                       63.375
Yale University                            84.000
Imperial College London                    86.000
The University of Chicago                  91.250